html, body{
  margin: 0;
  padding: 0;
  user-select: none;
}
*{
  box-sizing: border-box;
  position: relative;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #556;
}
#app {
  background-color: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 924px;
  height: 655px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  display: flex;
}
.screen-wrapper{
  width: 80%;
  height: 100%;

}
.screen-scene{
  height: 100%;
  width: 100%;
}
.btn{
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    border: 2px solid #555;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    width: 145px;
    height: 50px;
    transition: 0.2s;
}
.btn:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.btn.qn{
  min-height: 50px;

  height: auto;
}


.scene{
  position: relative;
  width: 100%;
  height: 77%;
  background-size: cover;
  background-repeat: no-repeat;
}

/**
 * Quetions
 */

.quetions{
  width: 20%;
  height: 100%;
  padding: 10px;
  padding-right: 0;
  border: 1px solid gray;
  display: flex;
   flex-direction: column;
}

.quetions h5{
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: #555;
  padding-bottom: 20px;
  text-align: center;
}
.quetions .buttons-list{
  display: flex;
  flex-direction: column;

  flex: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 450px;

}

.quetions .quetion{
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  width: 90%;
}
.quetions .quetion:last-child{
  margin-bottom: 0px;
}
.quetions .buy{
  padding: 3px 20px;
  margin-top: 15px;
  width: 90%;
  background-color: #cee741;
}
input{
  outline: 0;
  border: 0;
}

/**
 * Items
 */
.items-list{
  border: 1px solid gray;
  width: 100%;
  height: 23%;
  padding: 15px 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items-list .quetion{

  font-size: 16px;
  font-weight: 600;
}
.qty{
  width: 80px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #333;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 5px;
  text-align: right;
  border-radius: 8px;
}
.energy{
  width: 80px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 175px;
  color: #333;
  text-align: right;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 5px;
  border-radius: 8px;
}
.timer{
  width: 80px;
  height: 40px;
  position: absolute;
  top: 70px;
  left: 200px;
  color: #333;
  /*background-color: white;*/
  text-align: right;
  font-size: 20px;
  font-weight: 800;
  padding: 2px 10px;
}

.item-description{
  width: 395px;
  height: 75px;
  position: absolute;
  top: 25px;
  right: 15px;
  padding: 0px 20px;
  border-radius: 8px;
  color: #555;;
  font-size: 18px;
  display: flex;
  align-items: center;
}




.item--true{
  background-color: #8fd14f;
  color: white;
}
.item--false{
  background-color: #db0064;
  color: white;
}
.item--true:hover{
  background-color: #8fd14f;
  color: white;
}
.item--false:hover{
  background-color: #db0064;
  color: white;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0, 0, 0.7);
}

.modal .modal__msg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  background-color: wheat;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
.modal .modal__msg h2{
  color: #555;
}
.modal .modal__msg .btn{
  background-color: #8fd14f;
}
.modal .modal__msg .btn:hover{
  background-color: #cee741;
  color: #111;
}
.answer-debug{
  display: flex;
  align-items: center;
  align-content: center;
  width: 924px;
  background-color: rgba(0,0,0,0.3);
  font-size: 22px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  flex-direction: column;
}
.answer-debug >div{
  display:  flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}
.debug-item{
  color: #667;
  display: flex;

  margin-right: 20px;
  align-items: center;
}
.debug-item:last-child{
  margin-right: 0px;
}
.debug-item label{
    padding-right: 0px;

}
.answer-debug input{
  width: 80px;
  background-color: #445;
  color: #999;
  font-size: 18px;
  padding: 3px 7px;
  border-radius: 4px;
  margin-left: 5px;
}
.current-word{
  border: 1px solid #445;
  color: #999;
  border-radius: 4px;
  padding: 3px 15px;
  margin: 0;
  min-width: 365px;
  justify-content: flex-end;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}




.modal-buy{
  position: absolute;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0, 0, 0.7);
}

.modal-buy .modal-buy__msg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 400px;
  padding: 20px;
  background-color: wheat;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
.buy-items{
  width: 100%;
  padding-right: 15px;
  overflow: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.modal-buy .modal-buy__msg h2{
  color: #555;
}
.modal-buy .modal-buy__msg .btn{
  background-color: #8fd14f;
  margin-bottom: 10px;
}
.modal-buy .modal-buy__msg .btn:hover{
  background-color: #cee741;
  color: #111;
}

.modal-buy__close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #445;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-buy__close:hover{
  color: brown;
  border-color: brown;
}

.debug-item-wrapper{

  justify-content: flex-end !important;
}

/**
 * modal-game-over
 */

.modal-game-over{
  position: absolute;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0, 0, 0.7);
}

.modal-game-over .modal-game-over__msg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 400px;
  padding: 20px;
  background-color: wheat;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

.modal-game-over .modal-game-over__msg h2{
  color: #555;
}
.modal-game-over .modal-game-over__msg .btn{
  background-color: #8fd14f;
  margin-bottom: 10px;
}
.modal-game-over .modal-game-over__msg .btn:hover{
  background-color: #cee741;
  color: #111;
}

.modal-game-over__close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #445;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}